.user-container {
  width: 950px;

  margin-top: 20px;

  border: none;
  border-radius: 6px;
  padding: 40px 20px 30px 20px;

  display: flex;
  overflow: hidden;
}

.user-left {
  flex: 1;
  padding: 20px;
}
.user-left > img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.user-right {
  flex: 3;
  padding: 5px;
}

.user-right-name {
  display: flex;
  justify-content: space-between;
}
.user-right-name-wrapper > a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  font-weight: 700;
}
.user-right-name-wrapper > p {
  color: rgb(34, 34, 232);
  font-size: 16px;
  margin-top: 5px;
}
.user-right-name > p {
  font-size: 17px;
  color: inherit;
}

.bio {
  font-size: 18px;
  color: inherit;

  margin-top: 20px;
}

.repos-div {
  margin-top: 20px;

  display: flex;
  justify-content: space-between;

  padding: 30px 25px;
  border-radius: 12px;
}
.repos-div div p:nth-child(1) {
  color: inherit;
  font-size: 18px;
  text-align: center;
}
.repos-div div p:nth-child(2) {
  color: inherit;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-top: 8px;
}

.additional-info {
  margin-top: 20px;

  display: flex;
  justify-content: space-between;

  color: inherit;
}
.additional-info p {
  margin-top: 10px;
}
.additional-info i {
  margin-right: 20px;
}

@media screen and (max-width: 1000px) {
  .user-container {
    width: 95%;
  }
}

@media screen and (max-width: 700px) {
  .user-container {
    padding: 25px 5px 15px 5px;
  }

  .user-left {
    padding: 10px;
  }

  .user-right {
    font-size: 14px;
  }

  .user-right-name-wrapper > a {
    font-size: 14px;
  }

  .user-right-name-wrapper > p {
    font-size: 12px;
  }

  .bio {
    font-size: 14px;
  }

  .repos-div {
    padding: 15px 10px;
  }
  .repos-div div p:nth-child(1) {
    font-size: 14px;
  }
  .repos-div div p:nth-child(2) {
    font-size: 18px;
  }

  .user-created {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 500px) {
  .user-container {
    flex-direction: column;
  }
  .user-left {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .user-left > img {
    width: 40%;
  }
  .user-right {
    width: 100%;
  }
  .user-right-name {
    flex-direction: column;
    align-items: center;
  }
  .user-right-name-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .user-created {
    margin-top: 10px;
  }
  .bio {
    text-align: center;
  }
}