.search-form {
  width: 950px;

  border: none;
  border-radius: 6px;
  padding: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form > i {
  flex: 1;
  font-size: 20px;
  color: inherit;
  margin-left: 5px;
}

.search-form > input {
  flex: 6;
  border: none;
  background: none;

  padding: 16px;
  font-size: 18px;
  color: inherit;
}
.search-form > input:focus {
  outline: none;
}
.search-form > input::placeholder {
  color: inherit;
}

.search-form > button {
  flex: 1;
  padding: 16px;
  border: none;
  border-radius: 4px;

  background-color: #4949e4;
  color: #eee;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}
.search-form > button:hover {
  background-color: #2727b1;
}

@media screen and (max-width: 1000px) {
  .search-form {
    width: 95%;
  }
}

@media screen and (max-width: 500px) {
  .search-form > input {
    padding: 8px;
    font-size: 10px;
  }
  .search-form > button {
    padding: 10px;
    font-size: 12px;
  }
}